<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Ionic Multi Step Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>

    <swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
      <ng-template swiperSlide>Slide 1</ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
    </swiper>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" (click)="slideNext()">Next slide</ion-button>
    <ion-button color="secondary" (click)="slidePrev()">Prev slide</ion-button>
  </ion-toolbar>
</ion-footer>
